# PostgreSQL Database Connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/logiqon_tech_db?schema=public"

# NextAuth Authentication Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="logiqon-super-secret-key-change-in-production-2026"

# Node Environment
NODE_ENV="development"

# Application Settings
NEXT_PUBLIC_APP_NAME="LogiQ-On Tech"
NEXT_PUBLIC_APP_ENV="staging"
